@import "../../colors.scss";

.create-test {
  &__form {
    margin: 35px auto;
    width: 75%;
  }
  &__information {
    & + & {
      margin-top: 30px;
    }

    h3 {
      margin-bottom: 20px;
    }
  }
  &__input {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: transparent;
    border: 2px $color-two solid;
    padding: 10px;
    color: $color-two;
    & + & {
      margin-top: 10px;
    }
  }

  &__textarea {
    resize: none;
    height: 150px;
  }
  &__question {
    margin-top: 35px;
  }
  &__answers {
    margin-top: 20px;
  }

  &__btn {
    padding: 10px 15px;
    margin-top: 7px;
    width: 100%;
    background-color: $color-two;
    border-radius: 7px;
    box-shadow: $color-two 0px 0px 3px;

    &-modal {
      margin-top: 10%;
      background-color: $color-description;
      border-radius: 7px;
      padding: 7px;
      width: 60%;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: $color-description 0px 0px 13px;
      }
    }
  }
}
