@import "../../colors.scss";

.create-test {
  &__form {
    margin: 35px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 332px;
    height: 220px;
    border-radius: 7px;
    margin: 10px 0px;
  }

  &__icon {
    width: 350px;
    height: 230px;
    border-radius: 7px;
    margin: 10px 0px;
    background-color: $color-one;
    padding: 80px 140px;
  }
  &__information {
    width: 100%;

    h3 {
      margin-bottom: 20px;
    }
  }

  &__label {
    margin-bottom: 20px;
    width: 100%;
  }
  &__input {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: $color-one;
    padding: 10px;
    color: $color-description;
    & + & {
      margin-top: 10px;
    }
  }

  &__textarea {
    resize: none;
    height: 150px;
  }

  &__file {
    cursor: pointer;
    &-input {
      display: none;
    }
  }

  &__question {
    margin-top: 35px;
  }
  &__answers {
    margin-top: 20px;
  }

  &__btn {
    padding: 10px 15px;
    margin-top: 7px;
    width: 100%;
    background-color: $color-one;
    color: $color-description;
    border-radius: 7px;

    &-modal {
      margin-top: 10%;
      background-color: $color-description;
      border-radius: 7px;
      padding: 7px;
      width: 60%;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: $color-description 0px 0px 13px;
      }
    }
  }
}
