@import "../../colors.scss";

.create-test {
  &__conteiner {
    max-width: 1040px;
    padding: 0px 20px;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-size: 13px;

    &-file {
      cursor: pointer;
    }
  }

  &__input {
    margin-top: 7px;
    padding: 12px 20px;
    width: 100%;
    background-color: $color-one;
    font-size: 18px;
    border-radius: 2px;
    color: $color-description;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 176px;
  }

  &__file {
    display: none;
  }

  &__icon {
    height: 270px;
    width: 332px;
    padding: 102px 132px;
    background-color: $color-one;
    margin-top: 7px;
    border-radius: 2px;
  }

  &__img {
    height: 270px;
    width: 340px;
    margin-top: 7px;
    border-radius: 2px;
  }

  &__questions {
    margin-top: 45px;
  }

  &__btn {
    width: 100%;
    padding: 10px 15px;
    margin-top: 7px;
    width: 100%;
    color: $color-description;
    background-color: $color-one;
    border-radius: 2px;
    &-modal {
      margin-top: 10%;
      background-color: $color-description;
      border-radius: 7px;
      padding: 7px;
      width: 60%;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: $color-description 0px 0px 13px;
      }
    }
  }
}
