@import "../../colors.scss";

.btn {
  padding: 10px 15px;
  margin-top: 7px;
  width: 100%;
  color: $color-description;
  background-color: $color-three;
  border-radius: 2px;
}

.text {
  margin-top: 6px;
  font-size: 13px;
}
