@import "../../../colors.scss";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  padding: 45px;
  background-color: $color-two;
  box-shadow: $color-two 0px 0px 10px;
  border-radius: 10px;
  min-width: 250px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 23px;
}

.modalBtn {
  margin-top: 55px;
  background-color: $color-description;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: $color-description 0px 0px 10px;
  }
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
