@import "../../colors.scss";

.tests {
  &__inner {
    &-top {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      justify-content: left;
    }
  }

  &__search {
    margin-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;

    &-input {
      padding: 12px 15px;
      background-color: $color-three;
      width: 100%;
      color: rgb(202, 202, 202);
      font-size: 15px;

      &::-webkit-search-cancel-button {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/image/close.svg");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: top left;
        cursor: pointer;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

/* =================Адаптив================ */

@media screen and (max-width: 1200px) {
  .tests {
    &__list {
      gap: 7px;
    }
    &__search {
      width: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .tests {
    &__title {
      display: none;
    }
    &__search {
      margin-left: 0px;
    }
  }
}
