@import "../../colors.scss";
.question {
  padding: 10px;
  width: 100%;
  background-color: $color-one;
  border-radius: 2px;
  margin-top: 18px;

  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Inner {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  &Right {
    width: 100%;
    margin-left: 25px;
  }

  &Input {
    width: 100%;
    padding: 12px 20px;
    background-color: $color-three;
    border-radius: 2px;
    margin-top: 7px;
    color: $color-description;
    font-size: 18px;
  }

  &Textarea {
    resize: none;
    width: 100%;
    height: 142px;
    padding: 12px 20px;
    background-color: $color-three;
    border-radius: 2px;
    margin-top: 7px;
    color: $color-description;
    font-size: 18px;
  }

  &Remove {
    max-width: 42px;
    border-radius: 2px;
    padding: 10px;
    background-color: $color-three;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale3d(1.14, 1.14, 1.14);
    }
  }

  &Label {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  &Image {
    margin-top: 7px;
    width: 270px;
    height: 270px;
    border-radius: 2px;
    outline: 2px solid $color-description;

    &NoPhoto {
      border-radius: 2px;
      margin-top: 7px;
      width: 270px;
      height: 270px;
      padding: 115px;
      background-color: $color-three;
    }
  }

  &File {
    display: none;
  }
}
