@import "../../colors.scss";

.question {
  padding: 15px;
  background-color: $color-one;
  margin: 15px 0px;
  border-radius: 10px;
  color: $color-description;
  display: flex;
  justify-content: space-between;

  &__right {
    width: 100%;
    margin-left: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    color: $color-description;
    padding: 15px;
    background-color: $color-three;
    width: 94%;
    margin-top: 7px;
    border-radius: 7px;
    margin-left: 10px;

    &-question {
      color: $color-description;
      background-color: $color-three;
      border-radius: 7px;
      padding: 15px;
      width: 100%;
    }
  }

  &__radio {
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
  }

  &__btn {
    padding: 10px 15px;
    margin-top: 7px;
    width: 100%;
    background-color: $color-two;
    border-radius: 7px;
    box-shadow: $color-two 0px 0px 3px;
  }

  &__img {
    max-width: 53px;
    cursor: pointer;
    padding: 15px;
    background-color: $color-three;
    border-radius: 100%;
    margin-left: 7px;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    width: 60%;
    img {
      width: 100%;
      border-radius: 7px;
    }

    input {
      width: 100%;
      color: $color-description;
      padding: 15px;
      background-color: $color-three;
      margin-top: 12px;
      border-radius: 7px;
    }
  }

  p {
    color: $color-description;
    padding: 10px 0px;
  }

  &__answers {
    margin: 7px 0px;
  }

  .question__textarea {
    resize: none;
    height: 100px;
    width: 100%;
    color: $color-description;
    padding: 15px;
    background-color: $color-three;
    margin-top: 12px;
    border-radius: 7px;
  }
}
