@import "../../colors.scss";

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
  }
  &__icon {
    max-width: 35px;
    padding: 4px;
    border: 2px $color-two solid;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: $color-two 0px 0px 20px;
    }
  }
}

.test-game {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: $color-one;
  text-align: center;

  &__top {
    background-color: $color-one;
    width: 100%;
  }

  &__progress {
    padding: 2px 0px;
    height: 2px;
    width: 100%;
    background-color: $color-one;
    border-radius: 10px;
    margin-bottom: 30px;

    &-bar {
      height: 100%;
      padding: 1px 0px;
      width: 0%;
      background-color: $color-two;
      box-shadow: 0px 0px 3px $color-two;
      transition: all 0.3s ease;
    }

    &-question {
      text-align: center;
      font-size: 20px;
      color: $color-two;
      text-shadow: 0px 0px 10px $color-two;

      &-img {
        width: 100px;
        padding: 10px;
        border-radius: 25px;
      }
    }
  }

  &__inner {
    display: flex;
    padding: 10px;
    width: 100%;

    &-left {
      width: 55%;
      img {
        width: 500px;
        padding: 10px;
        border-radius: 25px;
      }
    }

    &-right {
      width: 45%;
      h3 {
        font-size: 18px;
        color: $color-two;
        text-shadow: $color-two 0px 0px 3px;
      }
    }
  }

  &__question {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 7px;
  }

  &__answer-list {
    width: 100%;
    padding-top: 10px;
    height: 100%;
    margin-top: 35px;
  }

  &__answer-item {
    padding: 10px;
    font-size: 23px;
    background-color: $color-three;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;

    & + & {
      margin-top: 10px;
    }

    &:hover {
      outline: 3px $color-two solid;
      outline-offset: -3px;
      box-shadow: $color-two 0px 0px 16px;
    }
  }
}
