@import "../../colors.scss";

.answer {
  color: $color-description;
  padding: 15px;
  background-color: $color-three;
  width: 100%;
  margin-top: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}
