@import "../../colors.scss";

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}

.answer {
  color: $color-description;
  padding: 15px;
  background-color: $color-three;
  width: 96%;
  border-radius: 7px;
  transition: all 0.5s;
  margin: 0px 20px;
}

.radio {
  cursor: pointer;
}

.imgBtn {
  max-width: 53px;
  cursor: pointer;
  padding: 18px;
  background-color: $color-three;
  border-radius: 9px;
}
